/* =========================
   VARIABLES
========================= */
:root {
  --color-primary: #e62429;
  --color-bg-shop: #f5c542;
  --color-bg-dark: #0b1d2a;
  --color-text-dark: #111;
  --color-text-light: #fff;
}

/* =========================
   GLOBAL RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-dark);
}

